 body{
  background-color: #aaaaaa;
} 
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
    
  #Add{
    background-image: url("assets/list_image2.jpg") ;
    
background-repeat: no-repeat;
 background-position: left;
background-size: cover;
object-fit: fill; 
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    font-weight: bold;
    font-size: x-large;
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  h1{
    color: #eeeeee;
    font-size: xx-large;
  }
  .tasks , .tasks_clone{
    background-color: #cccccc;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
  }
  .tabcontent input{
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }
  .done{
    background-color: green;
    color: white;
  }
  .edit{
    background-color: rgb(52, 52, 175);
    color: white;
  }
  .delete{
    background-color: rgb(170, 57, 57);
    color: white;
  }
  button{
    width: 80px;
    border-radius: 8px;
    margin: 0.3rem;
    border: none;
  }
  button:hover{
   opacity: 0.7;
   color: black;
    transition: 0.4s;
  }
  
  /*===== MEDIA QUERIES FOR SMALL DEVICES====*/
@media screen and (max-width: 600px){
  .tasks , .tasks_clone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
  